#highlight {
  text-decoration: underline;
  background-color: light-yellow;
  padding: 1rem;
}

.note {
  font-style: italic;
  font-weight: bold;
  color: navy;
}

.editorial {
  background: rgb(255 0 0 / 0.2);
  padding: 10px;
}

