:root {
--primary-color: #7bccc5; /* Tiffany Blue */
--secondary-color: #1aa595; /*	Persian Green */
--accent1-color:  #400159; /* Russian Violet*/
--accent2-color: #9b2286; /* Dark Magenta */
--heading-font: "Montserrat", sans-serif;
--body-font: "Roboto", sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


header {
    width: 100%;
    display: grid;      
    grid-template-columns: 400px 1fr 1fr;
    align-items: center;
    background-color: var(--primary-color);
    border: 20px solid var(--primary-color);

}

header img {
    border: 5px solid var(--secondary-color);
    width: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

.navigation {
	display: flex;
	font-family: var(--body-font), sans-serif;
}

.navigation a {
	color: var(--accent1-color);
    background-color: var(--primary-color);
	padding-left: 30px;
    padding-right: 30px;
	font-size: 1.2rem;
    border: 2px solid var(--accent1-color);
}

.navigation a:hover {
	color: var(--accent2-color);
    background-color: var(--primary-color);
	font-weight: 700;
	text-decoration: underline;
}

.hero {
    position: relative;
    width: 100%;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero iframe {
    float: left;
    /*width: 600px;*/
    margin: 20px;
    border: 5px solid var(--secondary-color);
}

h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: var(--accent1-color);
    background-color:var(--primary-color);
    opacity: 0.7;
}

.information {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 200px 200px 200px 200px 200px;
    top: 200px;
    width: 75%;
    margin: 0 10%;
    text-align: left;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    border: 3px solid red;
}

.contact-info {
    width: 50%;
}

.information h2 {
  width: 100%;
  text-align: center
}

iframe {
  grid-column-start: 0;
  grid-row: 2/span 2;

}
.container1 {
    position: relative;
    grid-column-start: 2;
    grid-row-start: 2;
    width: 500px;
    height: 200px;
    margin: 20px;
    perspective:800px;
}

.card1 {
    height: 100%;
    width: 100%;
    position:relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.container1:hover > .card1 {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
}

.front1,
.back1 {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front1 {
    background-image: url("/wwr/images/moses.webp");
    background-repeat: no-repeat;
}

.back1  {
    background-color: var(--secondary-color);
    border: 2px solid var(--accent1-color);
    transform: rotateY(180deg) rotateZ(180deg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.container2 {
    position: relative;
    grid-column-start: 2;
    grid-row-start: 3;
    width: 500px;
    height: 200px;
    margin: 20px;
    perspective:800px;
}

.card2 {
    height: 100%;
    width: 100%;
    position:relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.container2:hover > .card2 {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
}

.front2,
.back2 {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front2 {
    background-image: url("/wwr/images/noah.webp");
    background-repeat: no-repeat;
}

.back2  {
    background-color: var(--secondary-color);
    border: 2px solid var(--accent1-color);
    transform: rotateY(180deg) rotateZ(180deg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.container3 {
    float:right;
    width: 500px;
    height: 200px;
    margin: 20px;
    perspective:800px;
}

.card3 {
    height: 100%;
    width: 100%;
    position:relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.container3:hover > .card3 {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
}

.front3,
.back3 {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front3 {
    background-image: url("/wwr/images/jonah.webp");
    background-repeat: no-repeat;
}

.back3  {
    background-color: var(--secondary-color);
    border: 2px solid var(--accent1-color);
    transform: rotateY(180deg) rotateZ(180deg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.container4 {
    grid-column-start: 1;
    grid-row-start: 3;
    width: 500px;
    height: 200px;
    margin: 20px;
    perspective:800px;
}

.card4 {
    height: 100%;
    width: 100%;
    position:relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.container4:hover > .card4 {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
}

.front4,
.back4 {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front4 {
    background-image: url("/wwr/images/simon_peter.webp");
    background-repeat: no-repeat;
}

.back4  {
    background-color: var(--secondary-color);
    border: 2px solid var(--accent1-color);
    transform: rotateY(180deg) rotateZ(180deg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}


/*h1 {
  margin: 1rem;
  font-size: 1.5em;
  color: navy;
  text-align: center;
}*/

form {

  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: grid;
}

fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
}

legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3em;
}

label{
  font-family: Roboto, Arial, sans-serif;
  color: yellowgreen;
}

textarea {
    font-family: Roboto, Arial, sans-serif;
  color: red;
}

input {
    font-family: Roboto, Arial, sans-serif;
  color: pink;
}
select {
    font-family: Roboto, Arial, sans-serif;
  color: lightblue;

}

label {
  text-align: right;
  padding-right: 2rem;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

button {
  margin: 1rem;
  background-color: navy;
  color: #fff;
  border: 3px solid red;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: darkgreen;
}

footer {
  margin: 1rem auto 0;
  width: 650px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
  /*border-top: 1px solid #ccc;
  margin: 10px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;*/
  border: 1px solid #000;
  padding: 10px;
  background-color: #eee;
}

.form-item {
  display: grid;

  align-items: center;
}

.column1 {
  grid-template-columns: 3fr 2fr;
  margin: 0.5rem 0;
}

.column2 {
  grid-template-columns: 1fr 2fr;
}