:root {
--primary-color: #7bccc5; /* Tiffany Blue */
--secondary-color: #1aa595; /*	Persian Green */
--accent1-color:  #400159; /* Russian Violet*/
--accent2-color: #9b2286; /* Dark Magenta */
--heading-font: "Montserrat", sans-serif;
--body-font: "Roboto", sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-weight: 800;   
}

main p {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 1em; 
    border: 2px solid var(--secondary-color);
}

header {
    width: 100%;
    display: grid;      
    grid-template-columns: 400px 1fr 1fr;
    align-items: center;
    background-color: var(--primary-color);
    border: 20px solid var(--secondary-color);


}

header img {
    border: 5px solid var(--secondary-color);
    width: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

.navigation {
	display: flex;
	font-family: var(--body-font), sans-serif;
}

.navigation a {
	color: var(--accent1-color);
    background-color: var(--primary-color);
	padding: 0 25px 0 25px;
	font-size: 1.2rem;
    border: 2px solid var(--accent1-color);
}

.navigation a:hover {
	color: var(--accent2-color);
    background-color: var(--primary-color);
	font-weight: 700;
	text-decoration: underline;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}



.hero {
    position: relative;
    width: 100%;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 200px;
    border: 10px solid var(--secondary-color);
}

h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: var(--accent1-color);
    background-color:var(--primary-color);
}

.hero1 {
    position:absolute;
    bottom: 20px;
    left: 10px;
    display: grid;
    grid-row: 3/span 2;
    width: 500px;
    margin: 50px 20px 0 20px;
    border: 5px solid var(--secondary-color);
    border-radius: 0.5rem;
    background-color: var(--primary-color);
}

h3 {
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
    padding-left: 20px ;
    color: var(--accent1-color);
}

h4 {
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    color: var(--accent1-color)
}

.call-to-action {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 250px;
    height: auto;
    padding: 10px;
    
}


.call-to-action:hover {
    border: 4px solid var(--accent1-color);
    background-color: var(--accent2-color);
}
article {
    position: absolute;
    top: 200px;
    left: 150px;
    width: 75%;
    text-align: center;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

.activities {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 150px;
    border: 5px solid var(--secondary-color);
    background-color: var(--primary-color);
}

.activities h2 {
    grid-column: 1 / span 4;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: var(--accent1-color);
}

.activities img {
    width: 100%;
    height: auto;
    padding: 25px 10px 0 20px;
}

.activities p {
    border: 3px solid var(--secondary-color);
}

.trips {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 140px repeat(4, auto);
    justify-content: center;
    border: 5px solid var(--secondary-color);
    background-color: var(--primary-color);
}

.trips h2 {
    grid-column: 1 / span 4;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: var(--accent1-color);
}

.trips img {
    width: 100%;
    height: auto;
    padding: 25px 10px 0 50px;
}

.trips p {
    font-family: var(--body-font);
    font-size: 1.2rem;
    border: 3px var(--secondary-color);
}

iframe {
    display:block;
    margin:auto;
    width: 250px;
    height: 95px;
    padding-bottom: 10px;
    border: 3px solid var(--secondary-color);
}

.history {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 130px auto;
    justify-content: center;
    
}

.history h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: var(--accent1-color)
    
}

.history img {
    width: 100%;
    padding-top: 30px;
}

.history p {
    padding-top: 60px;
    font-family: var(--body-font);
    color: var(--accent1-color);

}

.adventure {
    display: grid;
    grid-template-columns: 22.5% 15% 17% 19% 25%;
    grid-template-rows: 150px auto;
    justify-content: center;
    position: relative;
}
.adventure h2 {
    grid-column-start: 1;
    grid-column-end: 6;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: var(--accent1-color);
}

figure img {
    width: 100%;
    display: block;
    border: 8px solid #fff;
}

figcaption {
  background-color: var(--primary-color);
  color: var(--accent1-color);
  font: var(--body-font) sans-serif;
  text-align: center;
  border: 5px solid #fff;
}


.company-information {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 105px repeat(3, 225px);
    top: 170px;
    width: 80%;
    margin: 0 10%;
    padding: 20px 10px;
    text-align: left;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    border: 5px solid var(--secondary-color);
}

.contact-info h2 {
    text-align: left;
    padding: 0 0 0 10px;
}


.contact-info  p{
    font-family: var(--body-font), sans-serif;
    font-size: 1rem;
    padding: 0 0 0 20px;
}
.staff  {
    text-align: left;
    padding: 80px 0 0 100px;
}


.map iframe {
    height: 260px;
    width: 500px;
    margin: 0 20px;
    border: 5px solid var(--secondary-color);

}
.container1 {
    width: 500px;
    height: 200px;
    margin: 20px;
    perspective:800px;
}

.card1 {
    height: 100%;
    width: 100%;
    position:relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.container1:hover > .card1 {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
}

.front1,
.back1 {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front1 img {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    
}

.back1  {
    background-color: #fff;
    border: 2px solid var(--accent1-color);
    transform: rotateY(180deg) rotateZ(180deg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.back1 p {
    font-family: var(--body-font), sans-serif;
    font-size: 1.2rem;
    color: var(--accent1-color);
    padding : 0 20px;
}

.container2 {
    width: 500px;
    height: 200px;
    margin: 20px;
    perspective:800px;
}

.card2 {
    height: 100%;
    width: 100%;
    position:relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.container2:hover > .card2 {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
}

.front2,
.back2 {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front2 img {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}

.back2  {
    background-color: #fff;
    border: 2px solid var(--accent1-color);
    transform: rotateY(180deg) rotateZ(180deg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.back2 p {
    font-family: var(--body-font), sans-serif;
    font-size: 1.2rem;
    color: var(--accent1-color);
    padding : 0 20px;
}

.container3 {
    width: 500px;
    height: 200px;
    margin: 20px;
    perspective:800px;
}

.card3 {
    height: 100%;
    width: 100%;
    position:relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.container3:hover > .card3 {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
}

.front3,
.back3 {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front3 img {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}

.back3  {
    background-color: #fff;
    border: 2px solid var(--accent1-color);
    transform: rotateY(180deg) rotateZ(180deg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.back3 p {
    font-family: var(--body-font), sans-serif;
    font-size: 1.2rem;
    color: var(--accent1-color);
    padding : 0 20px;
}

form {
  display: grid;
  grid-row: 3/span 2;
  width: 500px;
  margin: 50px 20px 0 20px;
  border: 3px solid var(--secondary-color);
  border-radius: 0.5rem;
  background-color: var(--primary-color);
}

fieldset {
  display: grid;
}

.info {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 30px 30px 30px 30px 30px;
    padding: 0;
}
.who {
  font-family: var(--body-font), sans-serif;
  color: var(--accent1-color);
  font-size: 1.5em;
  font-weight: 600;
  padding: 10px 0 0 0;
  margin-left: 10px;
}


.info label{
  font-family: var(--body-font), sans-serif;
  font-size: .8rem;
  text-align: left;
  padding:  .5rem 0;
  margin-left: 5px;
  color: var(--accent1-color);
}

input {
    width: 300px;
    margin-left: 5px;
    font-family: Roboto, Arial, sans-serif;
    color: var(--accent2-color);
    font-size: .8rem;
    border: 3px solid var(--secondary-color);
}

.feedback {
    width: 400px;
    display: flex;
    gap: 1px;
}

.textbox {
    width: 100%;
    margin-left: 0px;
    border: 3px solid var(--secondary-color);
    padding-left: 3px;
}

::placeholder {
    font-family: var(--body-font), sans-serif;
    color: var(--accent1-color);
    font-size: .8rem;
    font-weight: 600;
}
.radio {
    width:  170px;
    margin: 10px;
    display: grid;
    justify-content: left;
    align-content: center;
    grid-template-columns: 10px 155px;
    margin: 0 10px;
    border: 3px solid var(--secondary-color)
}

.radio label {
    padding: 0 10px 0 5px;

}

.radio-legend {   
    font-family: var(--body-font), sans-serif;
    color: var(--accent1-color);
    font-size: 0.8em;
    font-weight: 600;
}

.news {
    display: flex;
    align-items: center;
}

.news label {
    font-family: var(--body-font), sans-serif;
    text-align: left;
    padding:  .5rem .2rem;
    color: var(--accent1-color);
}

input[type="checkbox"] {
  width: 22px;;
  height: 22px;
  vertical-align: bottom;
}

button {
  width: 150px;
  margin: .5rem;
  background-color: var(--primary-color);
  color: var(--accent1-color);
  border: 3px solid var(--accent1-color);
  border-radius: .5rem;
  font-size: 1rem;
}

button:hover {
  background-color: #fff;
}

table {
    margin: 5px;
    border-collapse: collapse;
    border: 4px solid var(--secondary-color);
    font-family: var(--body-font);
    font-size: .8rem;
    letter-spacing: 1px;
}

caption {
    font-size: 1.2em;
  caption-side:top;
  font-weight: bold;
}

th {
    font-size: 1.2em;
    text-align:left;
    border: 2px solid var(--secondary-color);
    padding: 8px 10px;

}
td {
    font-size: 1.2em;
    text-align:left;
    border: 2px solid var(--secondary-color);
    padding: 8px 10px;

}

.call-button {
    margin: 20px 0 0 50px;
    width: 250px;
    height: auto;
    padding: 0 20px 20px 10px;

}

.call-button:hover {
    border: solid var(--accent1-color);
    background-color: var(--accent2-color);
}

footer {
    display: grid;
    grid-template-columns: 30% 60% 10%;
    width: 100%;
}

.socialmedia a {
    text-decoration: none;
}
